html{
    font-family: roboto;
}
body{
    margin: 0;
}
.Header{
    padding:1% 10% 1% 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.Sub_Header{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    display:flex;
    justify-content: center;
    gap: 8px;
    
}
.Sub_Header img{
    align-self: center;
    background-color: #858585;
    flex-grow: 2;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5%;
}
.Sub_Header-Signup{
    flex-direction: column;
    flex-grow: 1;
}
.Signup{
    background-color: #3882F6;
    border-radius: 1em;
    padding: 2%;
}
.Page{
    padding-left: 10%;
    padding-right: 10%;
}
.Image_List{
    display: flex;
    min-width: 50%;
    min-height: 50%;
    max-width: 50%;
    max-height: 50%;
    flex-direction: column;
}
#Hero-text{
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
}
h2{
    justify-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0px;
}
ol{
    display: inherit;
    list-style: none;
    min-width: inherit;
    min-height: inherit;
}
li{
    flex:auto;
    margin: 0px 10px; 
    object-fit: cover;
    display:flex;
    flex-direction: column;
    min-width: inherit;
    min-height: inherit;
}
.ImgImage_List{
    border: 2px solid #3882F6 ;
    border-radius: 1em;
}
img{
    flex: inherit;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: inherit;
    min-width: 0px;
    min-height: 0px;
}
